<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head")%> 
</head>
<body>
    <%- include("navbar")%>
    <div class = "container rounded bg-primary text-center text-light p-2 ">
        <h1>O Nas</h1>
        <p>Tu znajdzie się info o projekcie.</p>
    </div>
    <br>
    <div class = "container rounded bg-light p-2 h-100">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Voluptates eos dolorem blanditiis, itaque laboriosam accusantium porro atque repellendus iure. 
        Velit temporibus quos excepturi laborum laboriosam sed beatae possimus itaque deserunt?</p>
    </div>
</body>
</html>