<nav class="navbar navbar-expand-sm bg-dark fixed-top">
	<ul class="navbar-nav mr-auto">
		<a class = "navbar-brand" href = "/">Schronisko</a>
		<li class="nav-item">
			<a class="nav-link text-light" href="/about">O Nas</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/strona2">Strona2</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/strona3">Strona3</a>
		</li>
	</ul>
</nav>
<br><br><br><br>