<nav class="navbar navbar-expand-sm bg-dark fixed-top">
	<ul class="navbar-nav mr-auto">
		<a class = "navbar-brand" href = "/">Schronisko</a>
		<li class="nav-item">
			<a class="nav-link text-light" href="/about">O Nas</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
			  Przegląd
			</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/browse/pawilony">Pawilony</a>
				<a class="dropdown-item" href="/browse/boksy">Boksy</a>
				<a class="dropdown-item" href="/browse/klienci">Klienci</a>
				<a class="dropdown-item" href="/browse/magazyn">Magazyn</a>
				<a class="dropdown-item" href="/browse/zapotrzebowanie">Zapotrzebowanie</a>
				<a class="dropdown-item" href="/browse/kontrahenci">Kontrahenci</a>
				<a class="dropdown-item" href="/browse/zamowienia">Zamówienia</a>
				<a class="dropdown-item" href="/browse/personel">Personel</a>
				<a class="dropdown-item" href="/browse/personel_to_pawilony">Personel->Pawilony</a>
			  	<a class="dropdown-item" href="/browse/zwierzeta">Zwierzęta</a>
			  	<a class="dropdown-item" href="/browse/zwierzeta_info">Wpisy zwierząt</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
			  Wstawianie
			</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="/insert/pawilony">Nowy pawilon</a>
			  <a class="dropdown-item" href="/insert/boksy">Nowy boks</a>
			  <a class="dropdown-item" href="/insert/klienci">Nowy klient</a>
			  <a class="dropdown-item" href="/insert/magazyn">Nowy przedmiot w magazynie</a>
			  <a class="dropdown-item" href="/insert/zapotrzebowanie">Zapotrzebowanie zwierzęcia na przedmiot</a>
			  <a class="dropdown-item" href="/insert/kontrahenci">Nowy kontrahent</a>
			  <a class="dropdown-item" href="/insert/zamowienia">Nowe zamówienie</a>
			  <a class="dropdown-item" href="/insert/personel">Nowy pracownik</a>
			  <a class="dropdown-item" href="/insert/personel_to_pawilony">Przypisanie pracownika do pawilonu</a>
			  <a class="dropdown-item" href="/insert/zwierzeta">Nowe zwierzę</a>
			  <a class="dropdown-item" href="/insert/zwierzeta_info">Nowy wpis zwięrzęcia</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
			  Raporty
			</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="/raport/pawilony_boksy">Wolne miejsca</a>
			  <a class="dropdown-item" href="/raport/do_adopcji">Zwierzęta do adopcji</a>
			  <a class="dropdown-item" href="/raport/personel">Pracownicy</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
				Formularze
			</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/form/new_animal">Nowy podopieczny</a>
				<a class="dropdown-item" href="/form/adopt_animal">Adoptuj zwierzaka</a>
			</div>
		</li>
	</ul>
</nav>
<br><br><br><br>