<nav class="navbar navbar-expand-sm bg-dark fixed-top">
	<ul class="navbar-nav mr-auto">
		<a class = "navbar-brand" href = "/">Schronisko</a>
		<li class="nav-item">
			<a class="nav-link text-light" href="/about">O Nas</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
			  Przegląd
			</a>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="/browse/zwierzeta">Zwierzęta</a>
			  <a class="dropdown-item" href="/browse/personel">Personel</a>
			  <a class="dropdown-item" href="/browse/zwierzeta_info">Wpisy zwierząt</a>
			  <a class="dropdown-item" href="/browse/pawilony">Pawilony</a>
			  <a class="dropdown-item" href="/browse/boksy">Boksy</a>
			  <a class="dropdown-item" href="/browse/magazyn">Magazyn</a>
			</div>
		  </li>
	</ul>
</nav>
<br><br><br><br>